<form [formGroup]="verificaForm" (ngSubmit)="cercaPrenotazione()" class="form-dim">
  <h1 mat-dialog-title>Prenota un tavolo</h1>
  <div class="d-flex justify-content-center text-danger fw-bold pb-0" *ngIf="errorePrenotazione">
    <span>{{ "NO_POSTI_MESSAGE" | translate }}!</span>
  </div>
  <div class="d-flex justify-content-center text-danger fw-bold pb-3" *ngIf="errorePrenotazione">
    <span>{{ "NO_POSTI_MESSAGE_DUE" | translate }}</span>
  </div>

  <mat-form-field appearance="fill" class="data-pick-dim input-margin input-margin-sm pb-2">
    <mat-label>{{ "LABEL_DATA" | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="getOrari()" id="dataPrenotazione"
           formControlName="dataPrenotazione">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="verificaForm.get('dataPrenotazione')?.hasError('required')">
      {{validationMessages.dataPrenotazione[0].message}}
    </mat-error>
    <mat-error *ngIf="verificaForm.get('dataPrenotazione')?.hasError('dateError')">
      {{validationMessages.dataPrenotazione[1].message}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="data-pick-dim input-margin input-margin-sm pb-2">
    <mat-label>{{ "LABEL_ORA" | translate }}</mat-label>
    <mat-select id="oraPrenotazione" formControlName="oraPrenotazione">
      <mat-option *ngFor="let ora of orari" [value]="ora">{{ ora }}</mat-option>
    </mat-select>
    <mat-error *ngIf="orari.length > 0 && verificaForm.get('oraPrenotazione')?.hasError('required')">
      {{validationMessages.oraPrenotazione[0].message}}
    </mat-error>
    <mat-error *ngIf="orari.length > 0 && verificaForm.get('oraPrenotazione')?.hasError('pattern')">
      {{validationMessages.oraPrenotazione[1].message}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="data-pick-dim input-margin input-margin-sm pb-2">
    <mat-label>{{ "LABEL_POSTI" | translate }}</mat-label>
    <input type="number" matInput id="postiPrenotazione" formControlName="postiPrenotazione">
    <mat-error *ngIf="verificaForm.get('postiPrenotazione')?.hasError('required')">
      {{validationMessages.postiPrenotazione[0].message}}
    </mat-error>
    <mat-error *ngIf="verificaForm.get('postiPrenotazione')?.hasError('pattern')">
      {{validationMessages.postiPrenotazione[1].message}}
    </mat-error>
  </mat-form-field>
  <div class="d-flex justify-content-center py-3">
    <button mat-raised-button type="submit" class="w-75" [disabled]="!verificaForm.valid"
            color="primary">{{ "CERCA" | translate }}</button>
  </div>

</form>
