<h1 mat-dialog-title>I posti sono disponibili</h1>
<div mat-dialog-content>
  <p> Vuoi confermare la prenotazione con le seguenti informazioni:</p>
  <span class="fw-bold">Data:</span> {{data.data | date: "dd/MM/yyyy" }} <br>
  <span class="fw-bold">Ora:</span> {{data.ora | date: "hh:mm"}}<br>
  <span class="fw-bold">Posti:</span> {{data.numeroPosti}}
</div>
<div mat-dialog-actions class="d-flex justify-content-between pb-3 px-3">
  <button mat-raised-button (click)="onNoClick()" color="warn">No</button>
  <button mat-raised-button (click)="onSiClick()" color="primary" cdkFocusInitial>Si</button>
</div>
