<div class="flex" *ngIf="(logenIn$ | async)">
  <mat-toolbar class="mat-toolbar" color="primary">
    <button *ngIf="!drawer.opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="drawer.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <button *ngIf="drawer.opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="drawer.toggle();">
      <mat-icon>close</mat-icon>
    </button>
    <span>{{ title }}</span>
  </mat-toolbar>

  <mat-drawer-container class="app-sidenav">
    <mat-drawer #drawer class="col-8 col-sm-5 col-md-2 py-3" mode="over">
      <div *ngIf="(user$|async) as user">
        <div class="d-flex justify-content-center">
          <span class="avatar avatar-64 avatar-md-96 bg-primary text-white rounded-circle">{{user.nome[0]}}</span>
        </div>
        <h2 class="text-center mt-2 text-capitalize">{{user.nome}} {{user.cognome}}</h2>
        <mat-divider></mat-divider>
      </div>
      <p class="px-3 pt-3">Menù</p>

      <mat-nav-list>
        <mat-list-item routerLink="/home" routerLinkActive="mdc-list-item--activated" [ariaCurrentWhenActive]="'page'" (click)="drawer.toggle();">
          <mat-icon matListItemIcon>home</mat-icon>
          <div matListItemTitle>Home</div>
        </mat-list-item>
        <mat-list-item [routerLink]="['/ristoranti', 2]" routerLinkActive="mdc-list-item--activated"
                       [ariaCurrentWhenActive]="'page'" (click)="drawer.toggle();">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <div matListItemTitle>Dashboard</div>
        </mat-list-item>
        <mat-list-item [routerLink]="['/prenotazioni']" routerLinkActive="mdc-list-item--activated"
                       [ariaCurrentWhenActive]="'page'" (click)="drawer.toggle();">
          <mat-icon matListItemIcon>note_add</mat-icon>
          <div matListItemTitle>Prenotazioni</div>
        </mat-list-item>
        <mat-list-item>
          <a matLine>Link 2</a>
        </mat-list-item>

      </mat-nav-list>
      <p class="px-3 fs-5 mt-5">
        {{"LANGUAGE" | translate}}:
        <mat-button-toggle-group name="lingua" aria-label="Font Style" (change)="changeLingua()" class="w-100 mt-2">
          <mat-button-toggle value="it" [checked]="linguaScelta=='it'"
                             class="col">{{"ITALIAN" | translate}}</mat-button-toggle>
          <mat-button-toggle value="en" [checked]="linguaScelta=='en'"
                             class="col">{{"ENGLISH" | translate}}</mat-button-toggle>
        </mat-button-toggle-group>
      </p>
      <p class="px-3 fs-5 mt-5">
        <button mat-raised-button type="button" color="primary" (click)="logout()"
                class="w-100 fs-4">{{"SING_OUT" | translate}}
          <mat-icon class="fs-5">logout</mat-icon>
        </button>
      </p>
    </mat-drawer>
    <div class="container-fluid col-12 col-md-6" [ngClass]="{'col-12 col-md-6': setContainerCondition()}">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>

<div *ngIf="!(logenIn$ | async)">
  <router-outlet></router-outlet>
</div>
