.flex { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: stretch; }
.mat-toolbar { flex: 0 0 auto; }
.app-sidenav { flex: 1 1 0; }
.mat-drawer-inner-container{ overflow: hidden !important; }
mat-toolbar {
  display:flex;
  height: 5rem;
  width: 100%;
  background-color: lightgrey;
}
