<div class="flex" *ngIf="(logenIn$ | async)">
  <mat-toolbar class="mat-toolbar" color="primary">
    <button *ngIf="!drawer.opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="drawer.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <button *ngIf="drawer.opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="drawer.toggle();">
      <mat-icon>close</mat-icon>
    </button>
    <span>{{ title }}</span>
    <!--<span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>-->
  </mat-toolbar>

  <mat-drawer-container class="app-sidenav">
    <mat-drawer #drawer class="col-8 col-sm-5 col-md-2 py-3" mode="over">
      <p class="px-3">Menù</p>

      <mat-nav-list>
        <mat-list-item routerLink="/">
          <mat-icon matListItemIcon>home</mat-icon>
          <div matListItemTitle>Home</div>
        </mat-list-item>
        <mat-list-item [routerLink]="['/ristoranti', 1]" routerLinkActive="mdc-list-item--activated" [ariaCurrentWhenActive]="'page'">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <div matListItemTitle>Dashboard</div>
        </mat-list-item>
        <mat-list-item>
          <a matLine>Link 2</a>
        </mat-list-item>

      </mat-nav-list>
      <p class="px-3 fs-5 mt-5">
        {{"LANGUAGE" | translate}}:
        <mat-button-toggle-group name="lingua" aria-label="Font Style" (change)="changeLingua()" class="w-100 mt-2">
          <mat-button-toggle value="it" [checked]="linguaScelta=='it'"
                             class="col">{{"ITALIAN" | translate}}</mat-button-toggle>
          <mat-button-toggle value="en" [checked]="linguaScelta=='en'"
                             class="col">{{"ENGLISH" | translate}}</mat-button-toggle>
        </mat-button-toggle-group>
      </p>
      <p class="px-3 fs-5 mt-5">
        <button mat-raised-button type="button" color="primary" (click)="logout()">{{"SING_OUT" | translate}}</button>
      </p>
    </mat-drawer>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>

<div *ngIf="!(logenIn$ | async)">
  <router-outlet></router-outlet>
</div>
