<div *ngIf="ristorante" class="my-3">
  <mat-card class="example-card">
    <img mat-card-image class="rounded-top" [src]="urlImmagine + ristorante.immagini[0].path"
         src="https://smarty.stepofweb.com/5.0.4/html_frontend/demo.files/images/unsplash/restaurant/dieny-portinanni-KrjjVGFb6L0-unsplash-min.jpg"
         alt="Ristornate 1">
    <mat-card-content class="py-3">
      <div class="row justify-content-between">
        <h1 class="col-auto">{{ristorante.ragioneSociale}}</h1>
        <h2 class="col-auto">{{ristorante.recensioni | recensioniAverageRank}}</h2>
      </div>
      <div class="row">
      <h5 class="col-auto">{{ristorante.tipologiaCucina[0].nome}}</h5><h5 class="col-auto p-0">•</h5><h5 class="col-auto">{{ristorante.servizi[0].nome}}</h5>
    </div>
    <p class="">
      <span class="badge bg-secondary fs-6 fw-normal me-2 mb-3" *ngIf="ristorante.metodiPagamento[0]">{{ristorante.metodiPagamento[0].nome}}</span><span class="badge bg-secondary fs-6 fw-normal me-2 mb-3" *ngIf="ristorante.metodiPagamento[1]">{{ristorante.metodiPagamento[1].nome}}</span><span class="badge bg-secondary fs-6 fw-normal me-2 mb-3" *ngIf="ristorante.metodiPagamento[2]">{{ristorante.metodiPagamento[2].nome}}</span>
    </p>

    <p><span>{{ristorante.localita}}</span>, <span>{{ristorante.indirizzo}}</span></p>

    <p>{{"COSTO_MEDIO_PIATTI" | translate}}: <span>{{ristorante.prezzoMedioDichiarato | currency:'EUR'}}</span></p>
    <p>{{ristorante.descrizioneBreve}}</p>
  </mat-card-content>
  <mat-card-actions class="border-top">
    <button mat-flat-button color="primary" class="m-3 w-100 fs-4 p-4 text-uppercase"  [routerLink]="['/ristoranti', ristorante.id]">{{"DETTAGLI_RISTORANTE" | translate}}</button>
  </mat-card-actions>
</mat-card>
</div>
