<h1>{{"MACRO_MATERIAL_SELECT"| translate}}</h1>
<mat-card class="example-card">
  <img mat-card-image class="rounded-top" src="https://smarty.stepofweb.com/5.0.4/html_frontend/demo.files/images/unsplash/restaurant/dieny-portinanni-KrjjVGFb6L0-unsplash-min.jpg" alt="Ristornate 1">
  <mat-card-content class="py-3">
    <div class="row justify-content-between">
      <h1 class="col-auto">Ristorante 1</h1>
      <h2 class="col-auto">4.5</h2>
    </div>
    <div class="row">
      <h5 class="col-auto">Tipologia Cucina</h5><h5 class="col-auto p-0">•</h5><h5 class="col-auto">Servizio</h5>
    </div>
    <p class="">
      <span class="badge bg-secondary fs-6 fw-normal me-2">Metodo 1</span><span class="badge bg-secondary fs-6 fw-normal me-2">Metodo 2</span><span class="badge bg-secondary fs-6 fw-normal me-2">Metodo 3</span>
    </p>

    <p><span>L'Aquila</span>, <span>Via Roma 1</span></p>

    <p>Costo medio dei piatti è: <span>30€</span></p>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions class="border-top">
    <button mat-flat-button color="primary" class="m-3 w-100 fs-4 p-4 text-uppercase">Dettagli ristorante</button>
  </mat-card-actions>
</mat-card>
