<div [hidden]="!loading" class="loading-container pt-5">
  <mat-spinner class="loading-spinner"></mat-spinner>
</div>
<div *ngIf="prenotazioni">
  <div *ngIf="prenotazioniFuture == undefined && prenotazioniPassate == undefined; else nonZero">
    <div class="container-fluid">
      <p class="mt-2 ms-2 mb-1 py-2 fs-6 fw-bold">Non Hai prenotazioni</p>
    </div>
  </div>
</div>

<ng-template #nonZero>
  <div class="container-fluid" *ngIf="prenotazioniFuture != undefined && prenotazioniFuture.length != 0">
    <p class="mt-2 ms-2 mb-1 py-2 fs-6 fw-bold" *ngIf="prenotazioniFuture != undefined">Prossime
      prenotazioni -
      <span>{{ prenotazioniFuture.length }}</span>
    </p>
    <hr *ngIf="prenotazioniFuture != undefined" class="my-1"/>
    <app-prenotazione-card (deletePrenotazioneEvent)="deleteEvHandler($event)"
                           *ngFor="let singolaPrenotazione of prenotazioniFuture"
                           [prenotazione]="singolaPrenotazione"></app-prenotazione-card>
  </div>
  <div class="container-fluid" *ngIf="prenotazioniPassate != undefined && prenotazioniPassate.length != 0">
    <hr *ngIf="prenotazioniFuture != undefined" class="my-1"/>
    <p class="mt-2 ms-2 mb-1 py-2 fs-6 fw-bold">Prenotazioni passte e cancellate - {{ prenotazioniPassate.length }}</p>
    <hr class="my-1"/>
    <app-prenotazione-card *ngFor="let singolaPrenotazione of prenotazioniPassate"
                           [prenotazione]="singolaPrenotazione"></app-prenotazione-card>
  </div>
</ng-template>
