<div [hidden]="!loading" class="loading-container pt-5">
  <mat-spinner class="loading-spinner"></mat-spinner>
</div>
<div *ngIf="prenotazioni">
  <div *ngIf="prenotazioni.length == 0; else nonZero">
    <div class="container-fluid">
      <p class="mt-2 ms-2 mb-1 py-2 fs-6 fw-bold text-center">{{ "NESSUNA_PRENOTAZIONE" | translate }}</p>
    </div>
  </div>
</div>

<div *ngIf="!prenotazioni">
  <div class="container-fluid">
    <p class="mt-2 ms-2 mb-1 py-2 fs-6 fw-bold">{{ "NESSUNA_PRENOTAZIONE" | translate }}</p>
  </div>
</div>

<ng-template #nonZero>
  <div class="container-fluid" *ngIf="prenotazioniFuture != undefined && prenotazioniFuture.length != 0">
    <p class="mt-2 ms-2 mb-1 py-2 fs-6 fw-bold" *ngIf="prenotazioniFuture != undefined">
      {{ "PROSSIME_PRENOTAZIONI" | translate }} - <span>{{ prenotazioniFuture.length }}</span>
    </p>
    <hr *ngIf="prenotazioniFuture != undefined" class="my-1"/>
    <app-prenotazione-card (deletePrenotazioneEvent)="deleteEvHandler($event)"
                           *ngFor="let singolaPrenotazione of prenotazioniFuture"
                           [prenotazione]="singolaPrenotazione"></app-prenotazione-card>
  </div>
  <div class="container-fluid" *ngIf="prenotazioniPassate != undefined && prenotazioniPassate.length != 0">
    <hr *ngIf="prenotazioniFuture != undefined" class="my-1"/>
    <p class="mt-2 ms-2 mb-1 py-2 fs-6 fw-bold">{{ "PASSATE_PRENOTAZIONI" | translate }}
      - {{ prenotazioniPassate.length }}</p>
    <hr class="my-1"/>
    <mat-paginator class="mb-3" [length]="prenotazioniPassate.length" [pageSizeOptions]="pageSizeOptions"
                   [showFirstLastButtons]="showFirstLastButtons" [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   aria-label="Select page" (page)="getPaginator($event)">
    </mat-paginator>
    <hr class="my-1"/>
    <div *ngFor="let singolaPrenotazione of prenotazioniPassate |
     slice: lowValue : highValue">
      <app-prenotazione-card [prenotazione]="singolaPrenotazione"></app-prenotazione-card>
    </div>
  </div>
</ng-template>
