<div class="content">
  <div class="container-fluid">
    <img class="img-fluid col-12 col-md-4 d-block mx-auto"
         src="https://images.pexels.com/photos/941861/pexels-photo-941861.jpeg">
    <mat-divider></mat-divider>
    <div class="row justify-content-between py-0 py-md-3">
      <h1 class="col-auto mt-3 ps-3 mb-2" style="font-weight: 500!important;">Ristorante 1</h1>
      <button mat-flat-button color="primary" class="m-3 col-auto col-md-6 fs-4 p-4 text-uppercase my-0 d-none d-md-flex">Prenota
        Ristorante
      </button>
    </div>
    <div class="my-3 mt-md-0">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="col-auto mt-3 mb-3">Dettagli ristorante</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row ">
            <div class="col-12 col-md-4 mb-3">
              <p><span class="text-muted me-2">Località: </span> L'Aquila</p>
              <p><span class="text-muted me-2">Indirizzo: </span> Via Roma 1</p>
              <p><span class="text-muted me-2">Tipologie di cucina: </span> Tipo 1 / Tipo 2 / Tipo 3 / Tipo 4</p>
            </div>
            <div class="col-12 col-md-4 mb-3">
              <p><span class="text-muted me-2">Numero di posti: </span> 50</p>
              <p><span class="text-muted me-2">Email: </span> ristorante@ristorante</p>
              <p><span class="text-muted me-2">Telefono: </span> 1234567</p>
            </div>
            <div class="col-12 col-md-4 mb-3">
              <p><span class="text-muted me-2">Metodi di pagamento: </span> BACOMAT / VISA / MASTERCARD</p>
              <p><span class="text-muted me-2">Voto Medio: </span> 4.5</p>
              <p><span class="text-muted me-2">Numero di Piatti: </span> 4</p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <mat-divider></mat-divider>

    <div class="my-3">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="col-auto mt-3 mb-3">Descrizione ristorante</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="mb-3">Una lunga descrizione di quanto sia spettacolare questo ristorante. Questo ristorante è
            spettacolare
            fa tante cose.inclusa questa: Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem
            Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
            type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus
            PageMaker including versions of Lorem Ipsum.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>


    <mat-divider></mat-divider>

    <div class="my-3">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="col-auto mt-3 mb-3">Servizi Offerti</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row mb-3">
            <div class="col-12 col-md-3">
              <mat-list class="pt-0">
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 1</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 2</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 3</div>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-12 col-md-3">
              <mat-list class="pt-0">
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 1</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 2</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 3</div>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-12 col-md-3">
              <mat-list class="pt-0">
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 1</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 2</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 3</div>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="col-12 col-md-3">
              <mat-list class="pt-0">
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 1</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 2</div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListItemIcon>done</mat-icon>
                  <div matListItemTitle>Servizio 3</div>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>


  </div>
</div>

<div class="footer d-md-none">
  <mat-divider></mat-divider>

  <button mat-flat-button color="primary" class="w-100 fs-4 p-4 text-uppercase my-0 d-md-none">Prenota
    Ristorante
  </button>
</div>

